$themes: (
    light: (textColor: #000,
        bg: white,
        logo:rgb(37, 66, 70),
        logo2:rgb(37, 66, 70),
        bgSoft: #f6f3f3,
        bgSoft2: #eaeaea,
        textColorSoft: #555,
        phone:yellow,
        border: lightgray,
        green-lightgreen: green,
        gredient: (linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898)),

    dark:(textColor: whitesmoke,
        bg: #222,
        logo:white,
        logo2:rgb(123, 249, 91),
        bgSoft: #333,
        bgSoft2: #2e2e2e,
        textColorSoft: lightgray,
        phone:lightgreen,
        border: #444,
        green-lightgreen: lightgreen,
        gradient: (radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%))),
);

@mixin themify($themes) {

    @each $theme,
    $map in $themes {
        .theme-#{$theme} & {
            $theme-map: (
                ) !global;

            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}"
                );
            $theme-map: map-merge($theme-map,
                    ($key: $value,
                    )) !global;
        }

        @content;
        $theme-map: null !global;
    }
}
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

@mixin mobile {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 998px) {
        @content;
    }

}

@mixin pc {
    @media (max-width: 3000px) {
        @content;
    }
}

@mixin tablet2 {
    @media (max-width: 800px) {
        @content;
    }
}

html {
    &::-webkit-scrollbar {
        display: none;
    }

    scroll-behavior: smooth;
}