@import '../../style.scss';

.shop {
    @include themify($themes) {
        width: 100%;
        min-height: 100vh;
        background-color: themed("bgSoft");
        transition: .5s;
        padding: 20px;
        padding-top: 100px;
        display: flex;
        gap: 50px;
        overflow: hidden;

        @include mobile {
            flex-direction: column;
            padding-top: 20px;
        }

        .shopLeftBar {
            width: 350px;
            min-height: 80vh;
            // border-right: 1px solid themed("border");
            display: flex;
            flex-direction: column;
            overflow: auto;


            @include tablet {
                width: 30%;
            }


            @include mobile {
                width: 100%;
                min-height: 20px;
            }


            .filterMobile {
                display: none;

                @include mobile {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                .accordion-item {
                    @include mobile {
                        padding-top: 20px;
                    }

                    .accordion-header {
                        .accordion-button {
                            .list-group-item {
                                background-color: themed('bg') !important;
                                color: themed("textColor") !important;
                                transition: .5s;

                            }
                        }
                    }

                    .accordion-collapse {
                        .accordion-body {
                            .list-group {
                                .list-group-item {
                                    background-color: themed('bg') !important;
                                    color: themed("textColor");
                                    transition: .5s;
                                    cursor: pointer;


                                    &>a {
                                        color: themed('textColor');
                                        text-decoration: none;
                                        transition: .3s;
                                        font-weight: 600;
                                    }

                                    &>a:hover {
                                        color: green;
                                        transition: .3s;
                                    }
                                }
                            }
                        }
                    }

                    .accordion-header {
                        font-size: 18px;


                        .accordion-button {
                            width: 100%;
                            text-align: left;
                            cursor: pointer;
                            border: none;
                            // border-bottom: 1px solid themed('border');
                            background-color: themed("bgSoft");
                            color: themed('textColor');
                            transition: .5s;
                            display: flex;
                            align-items: center;

                            i {
                                margin-left: 10px;
                                font-size: 16px;
                                color: themed('textColor');
                                transition: .5s;
                            }
                        }
                    }
                }

            }

            .filterPC {
                display: flex;
                flex-direction: column;
                gap: 20px;

                @include mobile {
                    display: none !important;
                }

                .accordion-item {
                    .accordion-header {
                        .accordion-button {
                            .list-group-item {
                                background-color: themed('bg') !important;
                                color: themed("textColor") !important;
                                transition: .5s;

                            }
                        }
                    }

                    .accordion-collapse {
                        .accordion-body {
                            .list-group {
                                .list-group-item {
                                    background-color: themed('bg') !important;
                                    color: themed("textColor");
                                    transition: .5s;
                                    cursor: pointer;

                                    &>a {
                                        color: themed('textColor');
                                        text-decoration: none;
                                        transition: .3s;
                                        font-weight: 600;
                                    }

                                    &>a:hover {
                                        color: green;
                                        transition: .3s;
                                    }
                                }
                            }
                        }
                    }

                    .accordion-header {
                        font-size: 18px;


                        .accordion-button {
                            width: 100%;
                            text-align: left;
                            cursor: pointer;
                            border: none;
                            // border-bottom: 1px solid themed('border');
                            background-color: themed("bgSoft");
                            color: themed('textColor');
                            transition: .5s;
                            display: flex;
                            align-items: center;

                            i {
                                margin-left: 10px;
                                font-size: 16px;
                                color: themed('textColor');
                                transition: .5s;
                            }
                        }
                    }
                }
            }
        }

        .shopMain {
            width: 100%;
            min-height: 50vh;
            display: flex;
            flex-wrap: wrap;

            @include mobile {
                gap: 10px;
            }

            .card {
                width: 33.3% !important;
                transition: .5s;
                background-color: themed("bg");
                height: 580px;

                .card-body {
                    #category {
                        color: themed("textColorSoft");
                        transition: .5s;
                    }

                    #negdalis {
                        color: themed("green-lightgreen");
                        position: absolute;
                        align-self: center;
                        top: 15px;
                        font-size: 14px;
                        opacity: .7;
                        transition: .5s;
                    }

                    #detailsP {
                        color: themed('textColorSoft');
                        text-transform: capitalize;
                    }
                }

                .list-group-flush {
                    background-color: themed("bg") !important;

                    .list-group-item {
                        background-color: themed("bg") !important;
                        color: themed('textColor');
                        border: 1px solid themed('bgSoft');
                        border-left: none;
                        border-right: none;
                        transition: .5s;

                        p {
                            margin: 0;
                        }
                    }

                }

                .cardTitle {
                    color: themed('textColor');
                    transition: .5s;

                    .h5 {
                        margin: 0;
                    }
                }

                @include tablet {
                    width: 50% !important;
                }

                @include mobile {
                    width: 100% !important;
                }
            }

            .card:hover {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                z-index: 5;
                transition: .5s;
            }
        }
    }
}